$anime-background: #ededed;
$anime-width: 600px;
$anime-height: 300px;
$anime-cover-width: 200px;
$anime-record-padding: 10px;
$mdi-font-path:        "../libs/mdi/fonts";

$score-10: #008000;
$score-9: #208e00;
$score-8: #459c00;
$score-7: #72aa00;
$score-6: #a4b800;
$score-5: #c7b000;
$score-4: #d58e00;
$score-3: #e36500;
$score-2: #f13600;
$score-1: #f00;
$score-0: #5e5e5e;

/* Bootstrap variables */
$navbar-default-bg: #ededed;
